/*--------  

COMENTARIOS GLOBALES

-----------*/

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}


.fila {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    /*Las columnas dentro de una fila estan flotando a la izquierda, y por lo tanto se toman fuera del flujo de la pagina, y otros elementos seran colocados como si no fueran de las columnas. Para evitar esto, vamos a añadir un estilo que despeja el flujo*/
	clear:both;
    clear: both;
    display: table;
}


[class*="col-"]{
    padding: 20px;
    border: 1px solid black;
    float: left;
}

/*El total de columnas es 12, para saber el tamaño de las otras 11 debemos hacer una regla de 3: n*100 / 12 */


.col-12 {
    width: 100%;    
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 { 
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width:58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}
