/*
header {
    width: 1000px;
    height: 200px;
    background: blue;
    margin: 20px;
    border: 5px solid yellow;
    padding: 20px;
}

#logo {
    width: 200px;
    height: 60px;
    border: 5px solid white;
    background: green;
    border-radius: 10px;
}


.cuadrado{
    width: 200px;
    height: 200px;
    margin: 20px;
}

#c1 {
    background-color: magenta;
}


#c2 {
    background-color: #0101DF;
}

#c3 {
    background-color: rgb(30,130,86);
}
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

/* Estilo del header */

#chat {
    position: fixed;
    height: 40px;
    width: 250px;
    bottom: 0;
    right: 20px;
    background: magenta;
    z-index: 1;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

header {
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;
}

/* Estilo para los logos */

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

/* Estilo redes sociales */

.redes {
    position: absolute;
    width: 42px;
    height: 42px;
    background: #aaa;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white;
}

#icono1 {
    top: 42px;
    right: 120px;
    background: blue;
}

#icono2 {
    top: 42px;
    right: 71px;
    background: green;
}

#icono3 {
    top: 42px;
    right: 19px;
    background: red;
}


/* Estilo barra de navegacion */

nav {
    width: 1000px;
    height: 48px;
    position: relative;
    margin: auto;
   
}

.botones {
    float: left;
    width: 196px;
    height: 48px;
    margin: 0 2px;
    background: #333;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    line-height: 48px;
    background: rgba(100,0,255,1);
}

a .botones:hover {
    background: rgba(100,0,255,.4);
}

a .botones:active {
    background: rgba(255,0,100,1);
}


/* Estilo del top */

#top {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 192px;
    text-align: center;
        
}

#top ul {
    width: 1010px;
    height: 192px;
    
}

#top ul li {
    float: left;
    width: 326px;
    height: 192px;
    margin-right: 10px;
}

#top ul li img {
    border-radius: 100%;
    height: 100px;
}

#top ul li h1 {
    font-family: serif;
}

#top ul li p {
    font-size: 14px;
    margin: 10px;
}

/* Estilo del section */

section {
    width: 1000px;
    height: 453px;
    
    position: relative;
    margin: auto;
    
}

aside#izq{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 453px;;
    
}

aside#izq ul li {
    background: #aaa;
    padding: 10px;
    margin: 2px 10px;
    list-style: square;
    list-style-position: inside;
    list-style-image:url(../img/lista.png);
}

aside#izq ul li a {
    text-decoration: none;
}

aside#der{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px;;
    
}

aside#der h1 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(100,0,255,1);
    color: white;
    margin-bottom: 5px;
}

aside#der input {
    padding: 10px;
    margin: 5px 0;
    width: 176px;
}

aside#der input[type="text"] {
    background: url(../img/usuario.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

aside#der input[type="password"] {
    background: url(../img/password.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

aside#der input[type="submit"] {
    background: rgba(100,0,100,.5);
    width: 200px;
    border: 0;
}


/* Estilo del footer */

article {
    position: absolute;
    left: 200px;
    top: 0;
    width: 600px;
    height: 453px;
    
}

article h1 {
    font-family: serif;
    font-size: 40px;
    margin: 20px;
}

article p {
    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
    
}

article p img {
    float: left;
    margin-right: 20px;
}




/* Estilo del footer */

footer {
    width: 1000px;
    height: 70px;
    background: rgba(100,0,255,1);
    position: relative;
    margin: 20px auto;
    text-align: center;
    line-height: 70px;
    color: white;
}



